@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald|Nunito:400,700");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.logoSite img {
  width: 12rem;
}

.headPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  background-color: rgba(249, 249, 249, 0.39);
}
.headPage .iconLogHead {
  display: flex;
  flex-direction: column;
}
.headPage .iconLogHead i {
  font-size: 1.5rem;
  color: #000;
  font-weight: 900;
}

.appear {
  display: block;
}

.display {
  display: none;
}

.hide {
  display: none;
}

.title {
  background-color: #000;
  width: 100%;
  padding: 0 2rem;
  font-family: "Oswald", sans-serif;
}
.title h1 {
  display: none;
}
.title h2 {
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  padding-bottom: 1rem;
}
.title h2 .underline {
  position: relative;
  white-space: nowrap;
}
.title h2 .underline:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.1953125em;
  height: 0.3125em;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: auto 100%;
  background-repeat: round;
  background-position: 0;
}

.userProfil {
  padding: 0.8rem;
  background-color: rgba(249, 249, 249, 0.39);
  border-radius: 50%;
  position: fixed;
  bottom: 135px;
  right: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.userProfil__logo img {
  width: 5rem;
}
.userProfil__userName {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
}
.userProfil__list {
  font-size: 0.8rem;
  color: #fff;
  margin: 0 1rem;
  text-transform: uppercase;
  text-align: center;
}
.userProfil__menu {
  width: 20rem;
  position: absolute;
  bottom: 128px;
  left: -110px;
}

.navbar {
  font-family: "Fjalla One";
  position: sticky;
  top: 0;
  padding: 0.6rem;
  background-color: #000;
}
.navbar__button {
  color: #fff;
  font-size: 2.5rem;
  padding: 0.6rem;
}
.navbar__button span {
  margin: 0 1rem;
}
.navbar__link {
  font-size: 1.5rem;
  color: #fff;
  display: inline-block;
  margin: 0 1rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2em;
}
.navbar__link > a {
  padding: 1rem 0;
  color: #fff;
}

.required {
  color: #ff0000;
}

.connectForm, .newcontact__form {
  width: 20rem;
  min-height: 400px;
  height: auto;
  border-radius: 5px;
  margin: 2rem auto;
  box-shadow: 0 9px 50px hsla(109deg, 32%, 30%, 0.31);
  padding: 1rem;
  background-image: linear-gradient(-225deg, #eee 50%, #dcdada 50%);
  font-family: "Fjalla One";
  /* Show/hide password Font Icon */
}
.connectForm__cont, .connectForm__btns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}
.connectForm__head {
  margin: 1rem auto 1rem auto;
  text-align: center;
}
.connectForm__head > h1 {
  font-size: 2rem;
  color: #000;
}
.connectForm__head > p {
  letter-spacing: 0.05em;
  color: #6e7781;
  font-size: 1rem;
  font-style: italic;
}
.connectForm__inputItem {
  background: #fff;
  color: #000;
  padding: 14px 0 15px 9px;
  border-radius: 5px 0 0 5px;
}
.connectForm #eye, .newcontact__form #eye {
  background: none;
  color: #000;
  cursor: pointer;
}
.connectForm__user > input, .newcontact__form .connectForm__user > select {
  margin: 1rem 0;
}
.connectForm__user > input, .newcontact__form .connectForm__user > select, .connectForm__mdp > input, .newcontact__form .connectForm__mdp > select {
  margin-top: 2rem;
  padding: 16px;
  font-size: 1rem;
  color: #6e7781;
  outline: none;
  border: none;
  border-radius: 0 5px 5px 0;
  transition: 0.2s linear;
}
.connectForm__user > input:focus, .newcontact__form .connectForm__user > select:focus, .connectForm__mdp > input:focus, .newcontact__form .connectForm__mdp > select:focus {
  transform: translateX(-2px);
  border-radius: 5px;
}

.newcontact__form {
  font-family: "Fjalla One";
}
.newcontact__form input, .newcontact__form select {
  display: block;
  width: 60%;
  font-size: 1rem;
  border: none;
  margin: 0.5rem;
  border-bottom: 2px solid #fff;
  background: transparent;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: rgb(0, 0, 0);
}
.newcontact__form input:focus, .newcontact__form select:focus {
  border-bottom: 2px solid rgba(0, 253, 207, 0.4);
}
.newcontact__form label {
  color: #6e7781;
  margin-top: 1rem;
}

.cont_btn {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid #000;
  padding: 0.25em 0.5em;
  margin: 1.5rem auto;
  box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btn:active {
  box-shadow: 0 0 0 0;
  top: 5px;
  left: 5px;
}

.home {
  font-family: "Fjalla One";
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-image: url("../../medias/womanLiftingBG.jpg");
  background-size: cover;
  background-position: center;
}
.home .card {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  height: auto;
  background-color: rgba(41, 41, 41, 0.65);
  margin: 3rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 1.1rem;
  position: relative;
  padding: 1rem 0;
}
.home .card .subTitle {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.home .card .text {
  font-family: "Fjalla One";
  color: #dcdada;
  width: 80%;
  text-align: center;
  font-size: 1rem;
  margin-top: 2rem;
  font-weight: 200;
  letter-spacing: 2px;
}
.home .card .text p {
  margin: 0.8rem 0;
}
.home .card .text span {
  color: rgba(0, 253, 207, 0.4);
}
.home .card .icon {
  margin: 0 auto;
  padding: 1rem;
  background-color: rgba(0, 253, 207, 0.4);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  transition: all 0.8s ease;
  background-size: 200px;
}
.home .card .btn {
  border: 3px solid #fff;
  box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0 #fff;
}
.home .card .btn a {
  color: #fff;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgba(0, 253, 207, 0.4);
  font-size: 2.5rem;
  padding: 2rem 0;
  background-color: #eee;
}

.btns-prog {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn-rnd {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  border: 3px solid #fff;
  border-radius: 50%;
  padding: 1.5rem 0.5rem;
  margin: 1.5rem;
  box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
}
.btn-rnd:active {
  box-shadow: 0 0 0 0;
  top: 5px;
  left: 5px;
}

.nav_programmes {
  background-image: url("../../medias/bg-DB.jpeg");
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_programmes > ul {
  padding: 3rem 0;
}
.nav_programmes > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: "Fjalla One";
  width: 360px;
  justify-content: space-between;
  padding: 0.75rem;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
  border: 2px solid rgba(7, 7, 7, 0.12);
  background-color: rgba(60, 60, 60, 0.8);
}
.nav_programmes > ul > li .dumbell {
  background-color: rgba(0, 253, 207, 0.4);
  border-radius: 50%;
  font-size: 2rem;
  padding: 1rem;
}
.nav_programmes > ul > li > a {
  margin: 0.6rem;
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
}
.nav_programmes > ul > li > p {
  font-size: 1.3rem;
  color: rgba(0, 253, 207, 0.4);
  font-weight: lighter;
}

.fiche {
  background-image: url("../../medias/dumbbell-background.jpeg");
}
.fiche__content {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fiche .prog {
  width: 320px;
  height: 100%;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fiche .prog__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 200px;
  padding: 8px 8px 48px;
  background: white;
  border-radius: 4px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
  transform: rotate(5deg) translate(20px, 45px);
}
.fiche .prog__img > img {
  width: 16rem;
}
.fiche .prog__frequence, .fiche .prog__title {
  background: rgba(0, 253, 207, 0.4);
  padding: 0.5rem 1.6rem;
  margin: 0.3rem;
  flex-grow: 0;
  align-items: baseline;
  text-align: center;
  font-size: 2.5rem;
  z-index: 1;
  color: #000;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  transform: rotate(-5deg);
  box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
}
.fiche .prog__frequence {
  margin-left: 2rem;
}
.fiche .prog__title {
  display: flex;
  flex-direction: column;
}
.fiche .prog__description {
  padding: 1rem;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.fiche .prog__session {
  color: rgba(0, 253, 207, 0.4);
  font-size: 2.5rem;
  font-family: "Fjalla One";
  letter-spacing: 3px;
}
.fiche .exo {
  width: 320px;
  margin: 0.8rem 0;
  color: #fff;
  background-color: rgba(60, 60, 60, 0.8);
  padding: 2rem;
}
.fiche .exo__nom {
  font-size: 1.7rem;
}
.fiche .exo__content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  font-size: 1.4rem;
  border-left: 2px solid rgba(0, 253, 207, 0.4);
  text-align: center;
}
.fiche .exo__serie, .fiche .exo__rep, .fiche .exo__pause {
  padding: 0 1rem;
}

.graph_container {
  width: 50%;
}

.footer {
  flex-shrink: 0;
}
.footer__copyright {
  color: #dcdada;
  text-align: center;
  margin: 2rem;
}
.footer__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.footer__list > a {
  color: #6e7781;
  margin: 0.5rem;
}

@media (min-width: 768px) {
  .btn {
    padding: 0.25em 0.75em;
  }
}
@media screen and (min-width: 992px) {
  .appear {
    display: none;
  }
  .display {
    display: block;
  }
  .navbar__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar__link {
    font-size: 1.5rem;
    color: #fff;
    display: inline-block;
    margin: 0 1rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2em;
  }
  .newcontact__form {
    width: 50rem;
  }
  .newcontact__form div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 0 auto;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    width: 100%;
    padding: 0 2rem;
    font-family: "Oswald", sans-serif;
  }
  .title h1 {
    display: grid;
    place-content: center;
    min-height: 9vh;
    font-size: clamp(1.5rem, 1rem + 3vw, 3rem);
    font-weight: 700;
    text-transform: uppercase;
    color: hsl(0deg, 0%, 100%);
  }
  .title h1 > div {
    grid-area: 1/1/-1/-1;
  }
  .title h1 .top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
  }
  .title h1 .bottom {
    clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
    color: transparent;
    background: -webkit-linear-gradient(177deg, black 53%, hsl(0deg, 0%, 100%) 65%);
    background: linear-gradient(177deg, black 53%, hsl(0deg, 0%, 100%) 65%);
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateX(-0.02em);
  }
  .title h2 {
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
  }
  .userProfil {
    position: fixed;
    bottom: 111px;
    right: 25px;
    font-family: "Oswald", sans-serif;
  }
  .userProfil__logo img {
    width: 8rem;
  }
  .userProfil__list {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 1rem;
    text-transform: uppercase;
    text-align: center;
  }
  .userProfil__menu {
    width: 40rem;
    position: absolute;
    bottom: 128px;
    left: -320px;
  }
  .home {
    font-family: "Oswald", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-image: url("../../medias/gymLIGHT.jpg");
    background-size: cover;
    background-position: center;
  }
  .home .card {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    height: auto;
    background-color: rgba(41, 41, 41, 0.65);
    margin: 5rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 1.5rem;
    position: relative;
    opacity: 0.7;
  }
  .home .card:hover {
    transition: all 0.3s ease;
    opacity: 1;
  }
  .home .card .subTitle {
    width: 100%;
    text-align: center;
    margin-top: 2.5rem;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  .home .card .text {
    color: #dcdada;
    width: 80%;
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 3px;
  }
  .home .card .icon {
    padding: 1rem;
    background-color: rgba(0, 253, 207, 0.4);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    transition: all 0.8s ease;
    background-size: 200px;
  }
  .home .card .icon:hover {
    background-position: -120px;
    transition: all 0.3s ease;
  }
  .home .card .icon:hover i {
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    transition: all 0.3s ease;
  }
  .home .card .btn {
    border: 3px solid #fff;
    box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0 #fff;
  }
  .home .card .btn a {
    color: #fff;
  }
  .nav_programmes {
    flex-flow: wrap;
  }
  .nav_programmes > ul {
    margin: 0 3rem;
  }
  .fiche__content {
    width: 100%;
    backdrop-filter: blur(3px);
  }
  .fiche {
    background-image: url("../../medias/wallpaper-weight.jpeg");
  }
  .fiche .prog {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
  }
  .fiche .prog__session {
    font-size: 3rem;
  }
  .fiche .exo {
    width: auto;
    margin: 1rem 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .fiche .exo__content {
    padding: 0 1rem;
  }
  .fiche .exercices {
    width: 100%;
  }
  .graph_container {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
