@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.logoSite img {
  width: 12rem;
}

.headPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  background-color: #eeeeee;
}
.headPage .iconLogHead {
  display: flex;
  flex-direction: column;
}
.headPage .iconLogHead i {
  font-size: 1.5rem;
  color: #000;
  font-weight: 900;
}

.appear {
  display: block;
}

.display {
  display: none;
}

.hide {
  display: none;
}

.titleH1 {
  display: none;
}

.userProfil {
  position: fixed;
  bottom: 111px;
  right: 25px;
}
.userProfil__logo img {
  width: 8rem;
}
.userProfil__userName {
  text-transform: uppercase;
  text-align: center;
}
.userProfil__list {
  font-size: 1rem;
  color: #fff;
  margin: 0 1rem;
  text-transform: uppercase;
  text-align: center;
}
.userProfil__menu {
  width: 20rem;
  position: absolute;
  bottom: 128px;
  left: -110px;
}

.navbar {
  font-family: "Fjalla One";
  position: sticky;
  top: 0;
  padding: 0.6rem;
  background-color: #000;
}
.navbar__button {
  color: #fff;
  font-size: 2.5rem;
  padding: 0.6rem;
}
.navbar__button span {
  margin: 0 1rem;
}
.navbar__link {
  font-size: 1.5rem;
  color: #fff;
  display: inline-block;
  margin: 0 1rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2em;
}
.navbar__link a {
  padding: 1rem 0;
}

.required {
  color: #ff0000;
}

.connectForm, .newcontact__form {
  width: 20rem;
  min-height: 400px;
  height: auto;
  border-radius: 5px;
  margin: 2rem auto;
  box-shadow: 0 9px 50px hsla(109deg, 32%, 30%, 0.31);
  padding: 1rem;
  background-image: linear-gradient(-225deg, #eeeeee 50%, #dcdada 50%);
  font-family: "Fjalla One";
  /* Show/hide password Font Icon */
}
.connectForm__cont, .connectForm__btns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}
.connectForm__head {
  margin: 1rem auto 1rem auto;
  text-align: center;
}
.connectForm__head > h1 {
  font-size: 2rem;
  color: #000;
}
.connectForm__head > p {
  letter-spacing: 0.05em;
  color: #6e7781;
  font-size: 1rem;
  font-style: italic;
}
.connectForm__inputItem {
  background: #fff;
  color: #000;
  padding: 14px 0px 15px 9px;
  border-radius: 5px 0px 0px 5px;
}
.connectForm #eye, .newcontact__form #eye {
  background: none;
  color: #000;
  cursor: pointer;
}
.connectForm__user > input, .newcontact__form .connectForm__user > select {
  margin: 1rem 0;
}
.connectForm__user > input, .newcontact__form .connectForm__user > select, .connectForm__mdp > input, .newcontact__form .connectForm__mdp > select {
  margin-top: 2rem;
  padding: 16px;
  font-size: 1rem;
  color: #6e7781;
  outline: none;
  border: none;
  border-radius: 0px 5px 5px 0px;
  transition: 0.2s linear;
}
.connectForm__user > input:focus, .newcontact__form .connectForm__user > select:focus, .connectForm__mdp > input:focus, .newcontact__form .connectForm__mdp > select:focus {
  transform: translateX(-2px);
  border-radius: 5px;
}

.newcontact__form {
  font-family: "Fjalla One";
}
.newcontact__form input, .newcontact__form select {
  display: block;
  width: 60%;
  font-size: 1rem;
  border: none;
  margin: 0.5rem;
  border-bottom: 2px solid #fff;
  background: transparent;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: rgb(0, 0, 0);
}
.newcontact__form input:focus, .newcontact__form select:focus {
  border-bottom: 2px solid #ff0000;
}
.newcontact__form label {
  color: #6e7781;
  margin-top: 1rem;
}

.cont_btn {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  margin: 1.5rem auto;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btn:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.graph_container {
  width: 50%;
}

.footer {
  flex-shrink: 0;
}
.footer__copyright {
  color: #dcdada;
  text-align: center;
  margin: 2rem;
}
.footer__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.footer__list > a {
  color: #6e7781;
  margin: 0.5rem;
}

@media (min-width: 768px) {
  .btn {
    padding: 0.25em 0.75em;
  }
}
@media screen and (min-width: 992px) {
  .appear {
    display: none;
  }
  .display {
    display: block;
  }
  .navbar__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar__link {
    font-size: 1.5rem;
    color: #eeeeee;
    display: inline-block;
    margin: 0 1rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2em;
  }
  .newcontact__form {
    width: 50rem;
  }
  .newcontact__form div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 0 auto;
  }
  .titleH1 {
    display: grid;
    place-content: center;
    background-color: #000;
    min-height: 9vh;
    font-family: "Oswald", sans-serif;
    font-size: clamp(1.5rem, 1rem + 3vw, 3rem);
    font-weight: 700;
    text-transform: uppercase;
    color: hsl(0deg, 0%, 100%);
  }
  .titleH1 > div {
    grid-area: 1/1/-1/-1;
  }
  .titleH1 .top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
  }
  .titleH1 .bottom {
    clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
    color: transparent;
    background: -webkit-linear-gradient(177deg, black 53%, hsl(0deg, 0%, 100%) 65%);
    background: linear-gradient(177deg, black 53%, hsl(0deg, 0%, 100%) 65%);
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateX(-0.02em);
  }
  .userProfil {
    position: fixed;
    bottom: 111px;
    right: 25px;
  }
  .userProfil__logo img {
    width: 8rem;
  }
  .userProfil__list {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 1rem;
    text-transform: uppercase;
    text-align: center;
  }
  .userProfil__menu {
    width: 40rem;
    position: absolute;
    bottom: 128px;
    left: -320px;
  }
}

/*# sourceMappingURL=style.css.map */
