@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

//--------------- COLOR --------------
$color-logo-black: #000;
$color-blue: #778efe;
$background-header: #eeeeee;
$color-frgn-text: #6e7781;
$color-bg-light: #dcdada;
$color-bg-lighter: #DCDADAFF;
$required: #ff0000;
$color-white: #fff;
$color-grey: hsl(0, 0%, 100%);
//--------------- FONT --------------
$font-face: 'Fjalla One';