@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald|Nunito:400,700');

//--------------- COLOR --------------
$color-logo-black: #000;
$color-blue: #778efe;
$color-background: rgba(249, 249, 249, 0.39);
$color-frgn-text: #6e7781;
$color-bg-light: #dcdada;
$color-bg-lighter: #DCDADAFF;
$required: #ff0000;
$color-turquoise: rgba(0, 253, 207, 0.4);
$color-white: #fff;
$color-grey: hsl(0, 0%, 100%);
$accent-color: #FBD5B0;
//--------------- FONT --------------
$font-face: 'Fjalla One';
$font-title: "Oswald", sans-serif;
//-----------------
$deco-height: 0.3125em;

$grid-breakpoint: 700px;
$smallest-breakpoint: 520px;

$cards-breakpoint: 900px