@import '_reset', '_variables';

//------------MIXIN---------------
@mixin displayFlexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin displayFlexCenterBetween{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin displayFlexCenterEvenly{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@mixin displayFlexColumn{
  display: flex;
  flex-direction: column;
}

@mixin displayFlexEnd{
  display: flex;
  justify-content: flex-end;
}
//---------------BODY-----------------
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
//---------------MAIN-----------------
main {
  flex: 1 0 auto;
}
//------------LOGO----------------
.logoSite img{
  width: 12rem;
}
//------------tête page----------------
.headPage {
  @include displayFlexCenter;
  width: 100%;
  padding: 2rem;
  background-color: $color-background;

  .iconLogHead {
    @include displayFlexColumn;
      i{
        font-size: 1.5rem;
        color: $color-logo-black;
        font-weight: 900;
      }
  }
}
//----------------APPEAR x DISPLAY---------------------
.appear {
  display: block;
}
.display{
  display: none;
}
.hide{
  display: none;
}
//TITLE--------------------H1---------------------
.title{
  background-color: $color-logo-black;
  width: 100%;
  padding: 0 2rem;
  font-family: $font-title;
  .main-title {
    display: none;
  }
  h2 {
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1;
    color: $color-white;
    padding-bottom: 1rem;

    .underline {
      position: relative;
      white-space: nowrap;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: calc($deco-height * -0.625);
        height: $deco-height;
        background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-size: auto 100%;
        background-repeat: round;
        background-position: 0;
      }
    }
  }
}
//MENU-------------------- USER MENU------------------
.userProfil{
  cursor: pointer;
  padding: .8rem;
  background-color: $color-background;
  border-radius: 50%;
  position: fixed;
  bottom: 135px;
  right: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  &__logo{
    img{
      width: 5rem;
      &:hover{
        transition: all 3s ease-in-out;
        filter: blur(1px);
      }
    }
  }
  &__userName{
    font-size: 1rem;
    text-transform:uppercase;
    text-align:center;
  }
  &__list{
    font-size: .8rem;
    color: $color-white;
    margin:0 1rem;
    text-transform:uppercase;
    text-align:center;
    a{
      transition: all 1s ease-out;
      color: $color-logo-black;
      &:hover{
        color: $color-turquoise;
        font-weight: 600;
      }
    }
  }
  &__menu{
    width: 20rem;
    position: absolute;
    bottom: 128px;
    left: -110px;
  }
}
//MENU--------------------MENU NAV BAR-------------------
.navbar{
  font-family: $font-face;
  position: sticky;
  top: 0;
  padding: .6rem;
  background-color: $color-logo-black;
  &__button{
    color: $color-white;
    font-size: 2.5rem;
    padding: .6rem;
    span{
      margin: 0 1rem;
    }
  }
  &__link{
    font-size: 1.5rem;
    color: $color-white;
    display:inline-block;
    margin:0 1rem;
    text-transform:uppercase;
    text-align:center;
    line-height:1.2em;
    > a{
      padding: 1rem 0;
      color: $color-white;
    }
   }
}

//----------- REQUIRED---------------------------
.required{
  color: $required;
}
//LOGIN----------LOG IN OR SIGN UP PAGE -------------------
.connectForm {
  width: 20rem;
  min-height: 400px;
  height: auto;
  border-radius: 5px;
  margin: 2rem auto;
  box-shadow: 0 9px 50px hsla(109, 32%, 30%, 0.31);
  padding: 1rem;
  background-image: linear-gradient(-225deg, $color-bg-grey 50%, $color-bg-lighter 50%);
  font-family: $font-face;
  &__cont, &__btns{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  &__head{
    margin: 1rem auto 1rem auto;
    text-align: center;
    >h1{
      font-size: 2rem;
      color: $color-logo-black;
    }
    >p{
      letter-spacing: 0.05em;
      color: $color-frgn-text;
      font-size: 1rem;
      font-style: italic;
    }
  }
  &__inputItem{
    background: #fff;
    color: $color-logo-black;
    padding: 14px 0 15px 9px;
    border-radius: 5px 0 0 5px;
  }
  /* Show/hide password Font Icon */
  #eye {
    background: none;
    color: $color-logo-black;
    cursor: pointer;
  }
  &__user{
    >input{
      margin: 1rem 0;
    }
  }
  &__user, &__mdp{
    >input{
    margin-top: 2rem;
    padding: 16px;
    font-size: 1rem;
    color: $color-frgn-text;
    outline: none;
    border: none;
    border-radius: 0 5px 5px 0;
    transition: 0.2s linear;
      &:focus {
        transform: translateX(-2px);
        border-radius: 5px;
      }
    }
  }
}
//FORM---------------NEW CONTACT FORM ---------------
.newcontact__form{
    @extend .connectForm;
  font-family: $font-face;

  input{
    display: block;
    width: 60%;
    font-size: 1rem;
    border: none;
    margin: .5rem;
    border-bottom: 2px solid $color-white;
    background: transparent;
    min-width: 250px;
    padding-left: 5px;
    outline: none;
    color: rgba(0,0,0,1);
    &:focus{
      border-bottom: 2px solid $color-turquoise;
    }
  }
  select{
    @extend input;
  }
  label{
    color: $color-frgn-text;
    margin-top: 1rem;
  }
}
.cont_btn{
  position: relative;
  top: 0;
  @include displayFlexColumn;
  @include displayFlexCenter;
}
.btn{
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-logo-black;
  cursor: pointer;
  border: 3px solid $color-logo-black;
  padding: 0.25em 0.5em;
  margin: 1.5rem auto;
  box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
      &:active{
        box-shadow: 0 0 0 0;
        top: 5px;
        left: 5px;
      }

}
//HOME-------------CARDS ARTICLE-----------------------------------
.home {
  font-family: $font-face;
  @include displayFlexCenterEvenly;
  width: 100%;
  background-image: url("../../medias/womanLiftingBG.jpg");
  background-size: cover;
  background-position: center;

  .card {
    @include displayFlexColumn;
    @include displayFlexCenter;
    width: 100%;
    max-width: 300px;
    height: auto;
    background-color: rgba(41, 41, 41, 0.65);
    margin: 3rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 1.1rem;
    position: relative;
    padding: 1rem 0;

    .subTitle {
      width: 100%;
      text-align: center;
      margin-top: 30px;
      color: white;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
    .text {
      font-family: $font-face;
      color: $color-bg-light;
      width: 80%;
      text-align: center;
      font-size: 1rem;
      margin-top: 2rem;
      font-weight: 200;
      letter-spacing: 2px;
      p{
        margin: .8rem 0;
      }
      span{
        color: $color-turquoise;
      }
    }
    .icon {
      margin: 0 auto;
      padding: 1rem;
      background-color: $color-opacity-turquoise;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-logo-black;
      transition: all 0.8s ease;
      background-size: 200px;
      }
    .btn{
      border: 3px solid $color-white;
      box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0 $color-white;
      a{
        color: $color-white;
      }
    }
  }
}
//PROGRAMME------------- MENU LIST -----------------------------------
.separator{
  @include displayFlexCenterEvenly;
  color: $color-turquoise;
  font-size: 2.5rem;
  padding: 2rem 0;
  background-color: $color-bg-grey;
}
.btns-prog{
  @include displayFlexCenterEvenly;
}
.btn-rnd{
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-white;
  cursor: pointer;
  border: 3px solid $color-white;
  border-radius: 50%;
  padding: 1.5rem 0.5rem;
  margin: 1.5rem;
  box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  &:active{
    box-shadow: 0 0 0 0;
    top: 5px;
    left: 5px;
  }
}
.nav_programmes{
  background-image: url("../../medias/bg-DB.jpeg");
  @include displayFlexColumn;
  @include displayFlexCenter;
  >ul{
    padding: 3rem 0;
    >li{
      @include displayFlexCenter;
      @include displayFlexColumn;
      font-family: $font-face;
      width: 360px;
      justify-content: space-between;
      padding: 0.75rem;
      margin: 1rem 0;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
      border: 2px solid rgba(7, 7, 7, 0.12);
      background-color: $bg-opacity-grey;
      .dumbell{
        background-color: $color-opacity-turquoise;
        border-radius: 50%;
        font-size: 2rem;
        padding: 1rem;
      }
      >a{
        margin: .6rem;
        color: $color-white;
        font-size: 1.3rem;
        text-align: center;
      }
      >p{
        font-size: 1.3rem;
        color: $color-turquoise;
        font-weight: lighter;
      }
    }
  }
}
.fiche{
  background-image: url("../../medias/dumbbell-background.jpeg");
  &__content{
    @include displayFlexColumn;
    @include displayFlexCenter;
  }
  .prog{
    width: 320px;
    height: 100%;
    padding: 5rem 0;
    @include displayFlexColumn;
    @include displayFlexCenter;

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 280px;
      height: 200px;
      padding: 8px 8px 48px;
      background: white;
      border-radius: 4px;
      box-shadow: 4px 4px 15px rgba(0,0,0, .15);
      transform: rotate(5deg) translate(20px, 45px);
      >img{
        width: 16rem;
      }
    }
    &__frequence, &__title{
      background: $color-opacity-turquoise;
      padding: .5rem 1.6rem;
      margin: .3rem;
      flex-grow: 0;
      align-items: baseline;
      text-align: center;
      font-size: 2.5rem;
      z-index: 1;
      color: $color-logo-black;
      font-family: $font-title;
      text-transform: uppercase;
      transform: rotate(-5deg);
      box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
    }
    &__frequence{
      margin-left: 2rem;
    }
    &__title{
      @include displayFlexColumn;
    }
    &__description{
      padding: 1rem;
      font-size: 1.5rem;
      letter-spacing: 2px;
      font-weight: 600;
      font-family: $font-title;
      text-transform: uppercase;
    }
    &__session{
      color: $color-turquoise;
      font-size: 2.5rem;
      font-family: $font-face;
      letter-spacing: 3px;
    }
  }
  .exo{
    width: 320px;
    margin: .8rem 0;
    color: $color-white;
    background-color: $bg-opacity-grey;
    padding: 2rem;
    &__nom{
      font-size: 1.7rem;
    }
    &__content{
      @include displayFlexCenter;
      padding: 1rem 0;
      font-size: 1.4rem;
      border-left: 2px solid $color-turquoise;
      text-align: center;
    }
    &__serie, &__rep, &__pause{
      padding: 0 1rem;
    }
  }
}


//POIDS------------- CHART -----------------------------------
.poids{
  &__views{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
  }
  &__start, &__goal, &__now{
    p {
      max-width: 20rem;
      background: $color-opacity-turquoise;
      margin: 0 auto;
      padding: 1rem;
      text-align: center;
      font-size: 1.3rem;
      color: $color-logo-black;
      font-family: $font-title;
      text-transform: uppercase;
      transform: rotate(-5deg);
      box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
    }
    span{
      @include displayFlexCenter;
      padding: 1rem;
      font-size: 2rem;
      letter-spacing: 3px;
      font-weight: 600;
      font-family: $font-title;
      text-transform: uppercase;
    }
  }
  &__add{
    @include displayFlexCenter;
  }
}
.graph_container{
  width: 100%;
}
//POIDS-------------NOUVEAU POIDS-----------------------------------
.formPoids{
  @include displayFlexColumn;
  justify-content: space-between;
  width: 20rem;
  min-height: 400px;
  height: auto;
  border-radius: 5px;
  margin: 2rem auto;
  box-shadow: 0 9px 50px hsla(109, 32%, 30%, 0.31);
  padding: 1rem;
  background-color: $color-bg-grey;
  font-family: $font-face;
  font-size: 1.4rem;
  &__label{
    @include displayFlexCenter;
    flex-direction: column;
    letter-spacing: 1px;
    margin: 2rem 0;
    label{
      margin: 1rem 0;
    }
    input{
      font-size: 1.1rem;
      font-family: $font-face;
      outline: transparent;
      background-color: transparent;
      cursor: pointer;
      border: none;
      border-bottom: 3px solid $color-turquoise;
    }
  }
  &__btns{
    @include displayFlexCenter;
    flex-direction: column;
  }
}
//GUIDE EXERCICES-------------GUIDE-----------------------------------
.guideExercices{
  width: 100%;
  padding: 4rem 0;
  background-image: url("https://picsum.photos/1200");
}
.formGuide{
  @include displayFlexColumn;
  justify-content: center;
  font-family: $font-title;
  width: 100%;
  max-width: 900px;
  background-color: rgba(41, 41, 41, 0.65);
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 1.1rem;
  padding: 1rem 0;
  &__select{
    @include displayFlexColumn;
    margin: 0 auto;
    padding: 2rem 1rem;
    label{
      width: 100%;
      text-align: center;
      margin-top: 30px;
      color: white;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 1.3rem;
      }
    select {
      background-color: transparent;
      color: $color-bg-light;
      text-align: center;
      font-size: 1.2rem;
      margin-top: 2rem;
      font-weight: 200;
      letter-spacing: 2px;
      padding: .5rem;
    }
  }
  &__media{
    @include displayFlexColumn;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin: 2rem;
    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}
//CONTACT -------------CONTACT-----------------------------------
.contact{
  @extend .formPoids;
  &__input{
    @include displayFlexCenter;
    flex-direction: column;
    letter-spacing: 1px;
    margin: 1rem 0;
    label{
      margin: 1rem 0;
    }
    input{
      font-size: 1.1rem;
      font-family: $font-face;
      outline: transparent;
      background-color: transparent;
      cursor: pointer;
      border: none;
      border-bottom: 3px solid $color-turquoise;
    }
    textarea{
      background-color: transparent;
      width:100%;
      outline: 2px solid $color-turquoise;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
      font-family: $font-title;
      font-size: 1.3rem;
    }
  }
}
//---------------COOKIES--------------------------------
.cookies{
  max-width: 50rem;
  @include displayFlexColumn;
  align-items: center;
  margin: 0 auto;
  h1{
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
  }
  h4{
    text-align: center;
    text-transform: uppercase;
    font-family: $font-title;
    font-size: 1.5rem;
    margin: 1rem;
  }
  p{
    text-align: center;
    margin: 2rem;
  }
}
//--------------MENTIONS LEGALES------------------------
.mentions-legales{
  @extend .cookies;
  p{
    margin: 1rem;
  }
}
//-------------FOOTER-----------------------------------
.footer{
  flex-shrink: 0;
    &__copyright{
      color: $color-bg-light;
      text-align: center;
      margin: 2rem;
    }
  &__list{
    @include displayFlexCenterEvenly;
    text-align: center;
    > a{
      color: $color-frgn-text;
      margin: .5rem;
    }
  }
}
//--------------------------------------------------------------MEDIA QUERIES-----------------------------------------------------------------------
@media (min-width: 768px) {
  .btn {
    padding: 0.25em 0.75em;
  }
}
//Big screen
@media screen and (min-width: 992px) {
  .appear {
    display: none;
  }
  .display {
    display: block;
  }
  .navbar {
    &__list {
      @include displayFlexCenter;
    }

    &__link {
      font-size: 1.5rem;
      color: $color-white;
      display: inline-block;
      margin: 0 1rem;
      text-transform: uppercase;
      text-align: center;
      line-height: 1.2em;
    }
  }
  .newcontact__form {
    width: 50rem;

    div {
      @include displayFlexCenterBetween;
      padding: 1rem;
      margin: 0 auto;
    }
  }
  .title {
    @include displayFlexCenterBetween;
    background-color: $color-logo-black;
    width: 100%;
    padding: 0 2rem;
    font-family: $font-title;

    .main-title {
      display: grid;
      place-content: center;
      font-size: clamp(1.5rem, 1rem + 3vw, 3rem);
      font-weight: 700;
      text-transform: uppercase;
      color: $color-opacity-light;
      > div {
        grid-area: 1/1/-1/-1;
      }
      .top {
        clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
      }
      .bottom {
        clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
        color: transparent;
        background: -webkit-linear-gradient(177deg, black 53%, $color-opacity-light 65%);
        background: linear-gradient(177deg, black 53%, $color-opacity-light 65%);
        background-clip: text;
        -webkit-background-clip: text;
        transform: translateX(-0.02em);
      }
    }

    h2 {
      font-size: 2rem;
      text-transform: uppercase;
      line-height: 1;
      color: $color-white;
    }
  }

  .userProfil {
    position: fixed;
    bottom: 111px;
    right: 25px;
    font-family: $font-title;

    &__logo {
      img {
        width: 8rem;
      }
    }

    &__list {
      font-size: 1.5rem;
      color: $color-white;
      margin: 0 1rem;
      text-transform: uppercase;
      text-align: center;
    }

    &__menu {
      width: 40rem;
      position: absolute;
      bottom: 128px;
      left: -320px;
    }
  }
  .home {
    font-family: $font-title;
    @include displayFlexCenterEvenly;
    width: 100%;
    background-image: url("../../medias/gymLIGHT.jpg");
    background-size: cover;
    background-position: center;

    .card {
      @include displayFlexColumn;
      @include displayFlexCenter;
      width: 100%;
      max-width: 600px;
      min-width: 300px;
      height: auto;
      background-color: rgba(41, 41, 41, 0.65);
      margin: 5rem;
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.24);
      border: 2px solid rgba(7, 7, 7, 0.12);
      font-size: 1.5rem;
      position: relative;
      opacity: .7;
      &:hover {
        transition: all 0.3s ease;
        opacity: 1;
      }

      .subTitle {
        width: 100%;
        text-align: center;
        margin-top: 2.5rem;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 4px;
      }
      .text {
        color: $color-bg-light;
        width: 80%;
        text-align: center;
        font-size: 1.1rem;
        letter-spacing: 3px;
      }
      .icon {
        padding: 1rem;
        background-color: $color-turquoise;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-logo-black;
        transition: all 0.8s ease;
        background-size: 200px;
      &:hover {
        background-position: -120px;
        transition: all 0.3s ease;
        i{
          background: $color-white;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          opacity: 1;
          transition: all 0.3s ease;
          }
        }
      }
      .btn{
        border: 3px solid $color-white;
        box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 5px 5px 0 0 $color-white;
        a{
          color: $color-white;
        }
      }
    }
  }
  //PROGRAMMES
  .nav_programmes {
    flex-flow: wrap;
    >ul{
      margin: 0 3rem;
    }
  }
  .fiche__content{
    width: 100%;
    backdrop-filter: blur(3px);
  }
.fiche{
  background-image: url("../../medias/wallpaper-weight.jpeg");
  .prog{
    width: 100%;
    @include displayFlexCenterEvenly;
    @include displayFlexColumn;
    &__session{
      font-size: 3rem;
    }
    }
  .exo{
    width: auto;
    margin: 1rem 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &__content{
      padding: 0 1rem;
    }
  }
  .exercices{
    width: 100%;
    }
  }

  //POIDS------------- CHART -----------------------------------
  .graph_container{
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
  }
  .poids{
    &__start, &__goal, &__now{
      @include displayFlexColumn;
      @include displayFlexCenter;
      p {
        max-width: 25rem;
        margin: 2rem 2rem;
        padding: 2rem 1rem;
        font-size: 2rem;
      }
      span{
        padding: 1rem;
        font-size: 2.5rem;
        letter-spacing: 3px;
        font-weight: 600;
        font-family: $font-title;
        text-transform: uppercase;
      }
    }
  }
  //-------------GUIDE EXERCICES-----------------------------------
  .formGuide{
    &__select{
      label{
        font-size: 1.5rem;
      }
      select {
        font-size: 1.3rem;
      }
    }
  }
  //POIDS-------------NOUVEAU POIDS-----------------------------------
  .formPoids {
    width: 40rem;
  }
}